name: Build
on:
  push:
    paths:
      - '**.4dm'
  pull_request:
    paths:
      - '**.4dm'
  workflow_dispatch:

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Check out 4D-AIKit
      uses: actions/checkout@v4
      with:
        repository: 4d/4D-AIKit
        path: Components/4D-AIKit.4dbase
        ref : main
        fetch-depth: 0
    - name: Check out ExpressionLanguage
      uses: actions/checkout@v4
      with:
        repository: mesopelagique/ExpressionLanguage
        path: Components/ExpressionLanguage.4dbase
        ref : main
        fetch-depth: 0
    - name: Build
      uses: 4d/build4d-action@main
